@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400&family=SUSE+Mono:wght@400&display=swap);
/*---------------------INDEX-------------*/

/* fuentes*/
h1{
    font-family: "Quicksand", sans-serif;

  
}
p, a, button{
  font-family: "SUSE Mono", monospace;
  
}

/* Header*/
header{
position: sticky;
top: 0px;
background: rgba(255, 255, 255, 0.2); 
backdrop-filter: blur(10px); /* efecto glass/frosted */

}


.header  {
  color: #1f1f1f;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.botones{
  display: flex;
  gap: 20px;
  
}
.botones a{
  color: #1f1f1f;

}

.botones a:hover {
  color: #000000;        /* cambia de color al hacer hover */
  letter-spacing: 1.5px;  /* separa un poco las letras */
  font-weight: bold;
}
button{
  border-radius: 15px;
  background-color: #ffffff;
  transition: transform 0.6s;
  
}
button:hover{
transform: scale(1.05);   
}



.main{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 5rem;
}
.section1-Index{
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  margin-bottom: 5rem;
  text-align: center;
  
}
.Manga-imgs{
  position: relative;
  overflow: hidden;
  width: 15rem;
  height: 20rem;
  border-radius: 15px;
  box-shadow: 0 8px 22px rgba(0,0,0,0.2);
  transition: transform 0.6s,box-shadow 0.6s;
  
  
}
.Manga-imgs:hover{
 transform: scale(1.2);
box-shadow: 0 8px 22px rgba(0,0,0,0.8);
}

/* SUPERPOSAR les dues imatges */
.Manga-imgs img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: opacity 1s ease, transform 10s;
}

/* Imatge inicial visible */
.img_section1_Index_front {
  opacity: 1;
}

/* Imatge del hover amagada */
.img_section1_Index_back {
  opacity: 0;
}

/*  HOVER A TOT EL CONTENIDOR */
.Manga-imgs:hover .img_section1_Index_front {
  opacity: 0;
  
}

.Manga-imgs:hover .img_section1_Index_back {
  opacity: 1;
 
}


.titul_manga{
  font-weight: bold;
}
.section2-Index{
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  text-align: center;


}


/* TIMING FUNCTION: LINEAR */
.timing-linear img {
  transition-timing-function: linear;
}

/* TIMING FUNCTION: EASE-IN */
.timing-ease-in img {
  transition-timing-function: ease-in;
}

/* TIMING FUNCTION: EASE-OUT */
.timing-ease-out img  {
  transition-timing-function: ease-out;

}


.op{
  color: #313030;

}
.op:hover {
  color: #000000;        /* cambia de color al hacer hover */
  letter-spacing: 3px;  /* separa un poco las letras */
  font-weight: bold;
}


/*---------------------Galeria-estils-------------*/