@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400&family=SUSE+Mono:wght@400&display=swap);
/*---------------------INDEX-------------*/

/* fuentes*/
h1, h2, h3{
    font-family: "Quicksand", sans-serif;

  
}
p, a, button{
  font-family: "SUSE Mono", monospace;
  
}
.logo{
  font-size: 1.5rem;
}

/* Header*/
header{
position: sticky;
top: 0px;
background: rgba(255, 255, 255, 0.2); 
backdrop-filter: blur(10px); /* efecto glass/frosted */


}


.header  {
  color: #1f1f1f;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.botones{
  display: flex;
  gap: 20px;
  
}
.botones a{
  color: #1f1f1f;

}

.botones a:hover {
  color: #000000;        /* cambia de color al hacer hover */
  letter-spacing: 1.5px;  /* separa un poco las letras */
  font-weight: bold;
}
button{
  border-radius: 15px;
  background-color: #ffffff;
  transition: transform 0.6s;
  
}
button:hover{
transform: scale(1.05);   
}



.main{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 5rem;
}
.section1-Index{
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  margin-bottom: 5rem;
  text-align: center;
  
}
.Manga-imgs{
  position: relative;
  overflow: hidden;
  width: 15rem;
  height: 20rem;
  border-radius: 15px;
  box-shadow: 0 8px 22px rgba(0,0,0,0.2);
  transition: box-shadow 0.6s;
  
  
}
.Manga-imgs:hover{
box-shadow: 0 8px 22px rgba(0,0,0,0.8);
}

/* SUPERPOSAR les dues imatges */
.Manga-imgs img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: opacity 1s ease, transform 10s;
}

/* Imatge inicial visible */
.img_section1_Index_front {
  opacity: 1;
}

/* Imatge del hover amagada */
.img_section1_Index_back {
  opacity: 0;
}

/*  HOVER veure les imatges*/
.Manga-imgs:hover .img_section1_Index_front {
  opacity: 0;
  
}

.Manga-imgs:hover .img_section1_Index_back {
  opacity: 1;
 
}


.titul_manga{
  font-weight: bold;
}
.section2-Index{
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  text-align: center;


}


/* LINEAR */
.timing-linear:hover {
    transform: scale(1.2);
}
.timing-linear {
   transition: transform 0.8s linear;
}

/* EASE-IN */
.timing-ease-in:hover {
    transform: scale(1.2);
}
.timing-ease-in  {
   transition: transform 0.8s ease;
}

/* EASE-OUT */
.timing-ease-out:hover {
    transform: scale(1.2);
}
.timing-ease-out {
  transition: transform 0.8s ease-out;

}


.op{
  color: #313030;

}
.op:hover {
  color: #000000;        /* cambia de color al hacer hover */
  letter-spacing: 3px;  /* separa un poco las letras */
  font-weight: bold;
}


/*---------------------Galeria-estils-------------*/

.section2_animacion {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* TITULO A LA IZQUIERDA */
  
}

/* CENTRAR SOLO LA CAJA */
.caja_animacion {
  align-self: center;     /* ← centro horizontal */
  
}


/*----Loader----*/
.loader{
  width: 7rem;
  height: 7rem;
  border: 10px solid rgb(217, 217, 217);
  border-top:10px solid #000000 ;
  border-radius: 50%;  /*que sea redondo*/
  animation:spin 1.5s ease-in-out infinite;
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

/*----Caja Animada----*/
.section2_animacion{
 
  height: 35rem;
  
}


.caja_animacion{
  width: 7rem;
  height: 7rem;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 15%; 
  background-color: rgb(11, 1, 51);
   
  animation: bounceAndSpin 3s ease-in-out infinite; /*lento rapido lento*/

 
}

@keyframes bounceAndSpin {
  0% {
    transform: translate(0, 0) rotate(0deg); /*movimiento*/
    opacity: 0.4;
    background-color: #ff4b81;  
  }

  25% {
    transform: translate(5rem, 5rem) rotate(8deg); 
    opacity: 1;
    background-color: #ffb347;  
  }

  50% {
    transform: translate(0rem, 10rem) rotate(0deg) ;
    opacity: 0.8;
    background-color: #4bc0ff;  
  }

  75% {
    transform: translate(-5rem, 15rem) rotate(-8deg) ;
    opacity: 1;
    background-color: #8a5cff;  
  }

  100% {
    transform: translate(0, 20rem) rotate(0deg) ;
    opacity: 0.4;
    background-color: #ff4b81; 
  }
}

/*----Scroll-reveal----*/
.section3_scroll-reveal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
 
}

.reveal-block {
  opacity: 0;
  background-color: #ffb2d9;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
 border:solid 0.2rem #000000;

  /*  Animación scroll-driven*/
  animation: revealUp 3s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes revealUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@supports not (animation-timeline: view()) {

  /* animación alternativa */
  .reveal-block {
    opacity: 0;
    transform: translateY(30px);
    animation: fallbackFade 0.8s ease-out forwards;
  }}

  @keyframes fallbackFade {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/*---------------------Guia d'estils-------------*/

.font-section{
  margin-bottom: 3rem;

}
.titulo_guia_estil{
  font-weight: bold;
  font-size: 2.5rem;
}
.demo_h1 {
  font-weight: 700;
  font-family: "Quicksand";
  line-height: 5;
  letter-spacing: 10px;
}

.demo_h2 {
  font-weight: 500;
  font-family: "Quicksand";
  line-height: 3;
  letter-spacing: 5px;
}

.demo_h3 {
  font-weight: 400;
  font-family: "Quicksand";
  line-height: 1;
  letter-spacing: 0px;
}
.baseline-example {
  display: flex;
  align-items: baseline;  /*  Alinea icono + texto por la base */
  gap: 1rem;             
 
}

/* Tamaño 24 */
.material-symbols-rounded.icon-24 {
  font-size: 24px;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

/* Tamaño 36 */
.material-symbols-rounded.icon-36 {
  font-size: 36px;
  font-variation-settings:
    "FILL" 0,
    "wght" 700,
    "GRAD" 0,
    "opsz" 36;
}

/* Tamaño 48 */
.material-symbols-rounded.icon-48 {
  font-size: 48px;
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}

.btn-icon, .link-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid black;
  transition: transform 0.3s, background-color 0.3s;
}


.btn-icon:hover,
.link-icon:hover {
  transform: scale(1.05);
  background-color: #ffe3ee;
}

.colors-section {
  margin-top: 3rem;
}

.color-demo {
  background: #fafafa;
  width: 30em;
  height:15rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  padding: 1.5rem;
  
}

.tabla{
  width: 3rem;
  height: 3rem;
  background: #ff4b81;
  border-radius: 0.5rem;
  border: 1px solid #aaa;
 
}
/*--------movil---------*/
  @media (max-width:768px){
    /*---------------------INDEX-------------*/

/* fuentes*/
h1, h2, h3{
    font-family: "Quicksand", sans-serif;

  
}
p, a, button{
  font-family: "SUSE Mono", monospace;
  
}
a{
  font-size: 1.2rem;
}
.logo{
 display: none;
}

/* Header*/
header{
position: sticky;
top: 0px;
background: rgba(255, 255, 255, 0.2); 
backdrop-filter: blur(10px); /* efecto glass/frosted */
z-index: 9999;


}


.header  {
  color: #1f1f1f;
  display:flex;
  justify-content: space-around;
  align-items: center;

  padding: 2rem;
}

.botones{
  display: flex;
  gap: 20px;
  
}
.botones a{
  color: #1f1f1f;

}

.botones a:hover {
  color: #000000;        /* cambia de color al hacer hover */
  letter-spacing: 1.5px;  /* separa un poco las letras */
  font-weight: bold;
}
button{
  border-radius: 15px;
  background-color: #ffffff;
  transition: transform 0.6s;
  
}
button:hover{
transform: scale(1.05);   
}



.main{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 5rem;
}
.section1-Index{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  margin-bottom: 5rem;
  text-align: center;
  max-width: 768px;
  
  
}
.Manga-imgs{
  position: relative;
  overflow: hidden;
  width: 15rem;
  height: 20rem;
  border-radius: 15px;
  box-shadow: 0 8px 22px rgba(0,0,0,0.2);
  transition: box-shadow 0.6s;
  
  
}
.Manga-imgs:hover{
box-shadow: 0 8px 22px rgba(0,0,0,0.8);
}

/* SUPERPOSAR les dues imatges */
.Manga-imgs img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: opacity 1s ease, transform 10s;
}

/* Imatge inicial visible */
.img_section1_Index_front {
  opacity: 1;
}

/* Imatge del hover amagada */
.img_section1_Index_back {
  opacity: 0;
}

/*  HOVER veure les imatges*/
.Manga-imgs:hover .img_section1_Index_front {
  opacity: 0;
  
}

.Manga-imgs:hover .img_section1_Index_back {
  opacity: 1;
 
}


.titul_manga{
  font-weight: bold;
}
.section2-Index{
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  text-align: center;


}


/* LINEAR */
.timing-linear:hover {
    transform: scale(1.2);
}
.timing-linear {
   transition: transform 0.8s linear;
}

/* EASE-IN */
.timing-ease-in:hover {
    transform: scale(1.2);
}
.timing-ease-in  {
   transition: transform 0.8s ease;
}

/* EASE-OUT */
.timing-ease-out:hover {
    transform: scale(1.2);
}
.timing-ease-out {
  transition: transform 0.8s ease-out;

}


.op{
  color: #313030;

}
.op:hover {
  color: #000000;        /* cambia de color al hacer hover */
  letter-spacing: 3px;  /* separa un poco las letras */
  font-weight: bold;
}


/*---------------------Galeria-estils-------------*/

.section2_animacion {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* TITULO A LA IZQUIERDA */
  
}

/* CENTRAR SOLO LA CAJA */
.caja_animacion {
  align-self: center;     /* ← centro horizontal */
  
}


/*----Loader----*/
.loader{
  width: 7rem;
  height: 7rem;
  border: 10px solid rgb(217, 217, 217);
  border-top:10px solid #000000 ;
  border-radius: 50%;  /*que sea redondo*/
  animation:spin 1.5s ease-in-out infinite;
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

/*----Caja Animada----*/
.section2_animacion{
 
  height: 35rem;
  
}


.caja_animacion{
  width: 7rem;
  height: 7rem;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 15%; 
  background-color: rgb(11, 1, 51);
   
  animation: bounceAndSpin 3s ease-in-out infinite; /*lento rapido lento*/

 
}

@keyframes bounceAndSpin {
  0% {
    transform: translate(0, 0) rotate(0deg); /*movimiento*/
    opacity: 0.4;
    background-color: #ff4b81;  
  }

  25% {
    transform: translate(5rem, 5rem) rotate(8deg); 
    opacity: 1;
    background-color: #ffb347;  
  }

  50% {
    transform: translate(0rem, 10rem) rotate(0deg) ;
    opacity: 0.8;
    background-color: #4bc0ff;  
  }

  75% {
    transform: translate(-5rem, 15rem) rotate(-8deg) ;
    opacity: 1;
    background-color: #8a5cff;  
  }

  100% {
    transform: translate(0, 20rem) rotate(0deg) ;
    opacity: 0.4;
    background-color: #ff4b81; 
  }
}

/*----Scroll-reveal----*/
.section3_scroll-reveal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
 
}

.reveal-block {
  opacity: 0;
  background-color: #ffb2d9;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
 border:solid 0.2rem #000000;

  /*  Animación scroll-driven*/
  animation: revealUp 3s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes revealUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@supports not (animation-timeline: view()) {

  /* animación alternativa */
  .reveal-block {
    opacity: 0;
    transform: translateY(30px);
    animation: fallbackFade 0.8s ease-out forwards;
  }}

  @keyframes fallbackFade {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/*---------------------Guia d'estils-------------*/

.font-section{
  margin-bottom: 3rem;

}
.titulo_guia_estil{
  font-weight: bold;
  font-size: 2.5rem;
}
.demo_h1 {
  font-weight: 700;
  font-family: "Quicksand";
  line-height: 5;
  letter-spacing: 10px;
}

.demo_h2 {
  font-weight: 500;
  font-family: "Quicksand";
  line-height: 3;
  letter-spacing: 5px;
}

.demo_h3 {
  font-weight: 400;
  font-family: "Quicksand";
  line-height: 1;
  letter-spacing: 0px;
}
.baseline-example {
  display: flex;
  align-items: baseline;  /*  Alinea icono + texto por la base */
  gap: 1rem;             
 
}

/* Tamaño 24 */
.material-symbols-rounded.icon-24 {
  font-size: 24px;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

/* Tamaño 36 */
.material-symbols-rounded.icon-36 {
  font-size: 36px;
  font-variation-settings:
    "FILL" 0,
    "wght" 700,
    "GRAD" 0,
    "opsz" 36;
}

/* Tamaño 48 */
.material-symbols-rounded.icon-48 {
  font-size: 48px;
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}

.btn-icon, .link-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid black;
  transition: transform 0.3s, background-color 0.3s;
}


.btn-icon:hover,
.link-icon:hover {
  transform: scale(1.05);
  background-color: #ffe3ee;
}

.colors-section {
  margin-top: 3rem;
}

.color-demo {
  background: #fafafa;
  width: 30em;
  height:15rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  padding: 1.5rem;
  max-width: 320px;
}

.tabla{
  width: 3rem;
  height: 3rem;
  background: #ff4b81;
  border-radius: 0.5rem;
  border: 1px solid #aaa;
 
}
  
}
/*